<div class="row">
  <div class="col-lg-7 heading"><h3>Complaints Remaining</h3></div>
  <div class="col-lg-5" style="padding-left:2%">
  <ul class="searchbox float-left">
    <li class="">
      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
      <i class="fa fa-search" style="position: absolute;top:11px;" aria-hidden="true"></i>
    </li>
  </ul>
  <a href="#" class="add-complaint" style="padding-top:1%;"><i class="fa fa-filter fa-fw icon" aria-hidden="true"></i>Filter</a>
  <i class="col-1 fa fa-file icon fa-fw" style=" padding-top:1%" aria-hidden="true"></i>
</div>
</div>
<br>  
<div class="row">
    <div  class="col-lg-12" >
    <app-addacomplaint></app-addacomplaint>
    </div>
    </div>
  <br>
<!--Notification Panel starts-->


<div class="notifiactiion heading">
<div class="alert alert-danger row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-danger row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-danger row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-danger row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-danger row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
</div>
<!--Notification Panel Ends-->
