<div class="row">
  <div class="col-lg-6 add-complaint"><h5>Remaining Complaints</h5></div>
  <div class="col-lg-6" style="padding-left:2%">
  <ul class="searchbox float-left">
    <li class="">
      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
      <i class="fa fa-search" style="position: absolute;top:11px;" aria-hidden="true"></i>
    </li>
  </ul>
  <a href="#" class="add-complaint float-left" style="padding-top:1%;"><i class="fa fa-filter fa-fw icon" aria-hidden="true"></i>Filter</a>
  <i class="col-1 fa fa-file icon fa-fw" style="float: right; padding-top:1%" aria-hidden="true"></i>
</div>
</div>
<br>  
<!--Notification Panel starts-->

<div class="notifiactiion heading">
<div class="page-headng">
  <h3>Notifications</h3>
</div>
<div class="alert alert-success row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-success row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-success row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-success row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
<div class="alert alert-success row">
  <h6 class="col-9"> Date: 24 August 2018</h6>
  <a class="col-3 " href="#">View Status</a>
  <p class="col-12">Re: Their is need to change Telephone in HOD Office</p>
</div>
</div>
<!--Notification Panel Ends-->
