<div class="container">
    <div class="col-lg-12 navbar">
        <h4 style="color:#fff;">My Duties</h4>
        <hr>
      </div>
  <div class="row">
    <div class="col-lg-12 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
          <div class="row">
          <div class="col-lg-2 profile-info">
            <div class="profile-content">
            <a href="#" class="active" ><h6>Class Time Table</h6></a>
            <hr>
            <a href="#"><h6>Quiz Time Table</h6></a>
            <hr>
            <a href="#"><h6>Mid Term Time Table</h6></a>
            <hr>
            <a href="Home_Duties_IndustrialVisit.html"><h6>Industrial Visit</h6></a>
            <hr>
            <a href="#"><h6>Expert Lecture</h6></a>
            <hr>
            <a href="#"><h6>Mark Attendance</h6></a>
            <hr>
            </div>
          </div>
          <div class="col-lg-10">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    </div>
 </div>             