<div class="container"> 
  <div class="row">
    <div class="col-lg-3 col-xs-12 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
          <div class="nav flex-column nav-pills" id="tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="recents-tab" data-toggle="pill" href="#pills-recents" role="tab" aria-controls="pills-recents" aria-selected="true">Recents</a><br>
              <a class="nav-link" id="circular-tab" data-toggle="pill" href="#pills-circular" role="tab" aria-controls="pills-circular" aria-selected="false">Circular</a><br>
              <a class="nav-link" id="schedules-tab" data-toggle="pill" href="#pills-schedules" role="tab" aria-controls="pills-schedules" aria-selected="false">Schedules</a><br>
              <a class="nav-link" id="examtimetable-tab" data-toggle="pill" href="#pills-ett" role="tab" aria-controls="pills-ett" aria-selected="false">Exam Time Table</a><br>
              <a class="nav-link" id="semtt-tab" data-toggle="pill" href="#pills-semtt" role="tab" aria-controls="pills-semtt" aria-selected="false">Semester Time Table</a><br>
              <a class="nav-link" id="accel-tab" data-toggle="pill" href="#pills-accel" role="tab" aria-controls="pills-accel" aria-selected="false">Academic Calender</a><br>
              <a class="nav-link" id="other-tab" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-other" aria-selected="false">Others</a><br>
            </div>
            </div>
            </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 kyc-colm user-management">
          <div class="kyc-section rewards-section reports-sectn">
            <div class="tab-content" id="tabContent">
              <div class="tab-pane fade show active" id="pills-recents" role="tabpanel" aria-labelledby="recents-tab">
                 
                      <div class="row">
                          <div class="col-lg-8">
                            <h4 class="text-left page-headng">Recents</h4><hr>
                        </div>
                          <div class="col-lg-4">
                              <ul class="searchbox float-right">
                                  <li class="">
                                          <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                                    </li>
                                  </ul>
                            </div>
                    </div>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">July-Dec Examination Schedule</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 12/07/2018</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" > 
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Circular<br>Re: Circular was changed.</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 13/09/2108</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Mid term tests 1 Time table</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 19/02/2108</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Quiz 1 Time table</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 17/12/2017</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Academic Calender July-Dec</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 16/08/2018</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">July-Dec Examination Schedule</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 12/07/2018</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" > 
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Circular<br>Re: Circular was changed.</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 13/09/2108</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
              
            </div>
              <div class="tab-pane fade" id="pills-circular" role="tabpanel" aria-labelledby="circular-tab">
                  <div class="row">
                      <div class="col-lg-8">
                        <h4 class="text-left page-headng">Circular</h4><hr>
                    </div>
                      <div class="col-lg-4">
                          <ul class="searchbox float-right">
                              <li class="">
                                      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                                </li>
                              </ul>
                        </div>
                </div>
              <div class="alert alert-success row al" >
                  <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                  <p class="col-7">Circular</p>
                  <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 12/07/2018</p>
                  <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
              </div>
              <div class="alert alert-success row al" > 
                  <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                  <p class="col-7">Circular<br>Re: Circular was changed.</p>
                  <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 13/09/2108</p>
                  <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
              </div>
              <div class="alert alert-success row al" >
                  <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                  <p class="col-7">Mid term tests 1 Circular</p>
                  <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 19/02/2108</p>
                  <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
              </div>
              <div class="alert alert-success row al" >
                  <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                  <p class="col-7">Quiz 1 Time table circular</p>
                  <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 17/12/2017</p>
                  <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
              </div>
              <div class="alert alert-success row al" >
                  <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                  <p class="col-7">Academic Calender July-Dec Updated</p>
                  <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 16/08/2018</p>
                  <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
              </div>
              <div class="alert alert-success row al" >
                  <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                  <p class="col-7">July-Dec Examination Schedule tentitive</p>
                  <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 12/07/2018</p>
                  <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
              </div>        
              </div>
              <div class="tab-pane fade" id="pills-schedules" role="tabpanel" aria-labelledby="schedules-tab">
                  <div class="row">
                      <div class="col-lg-8">
                        <h4 class="text-left page-headng">Schedules</h4><hr>
                    </div>
                      <div class="col-lg-4">
                          <ul class="searchbox float-right">
                              <li class="">
                                      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                                </li>
                              </ul>
                        </div>
                </div>
                  <h5 style="background-color:grey; height:50px; padding-left:50px; padding-top:8px; color:white">Quiz Time Table</h5>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Quiz 3 Schedule</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 12/07/2018</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" > 
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Quiz 2 Schedule</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 13/09/2108</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Quiz 1 Schedule</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 19/02/2108</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
                  
                  <h5 style="background-color:grey; height:50px; padding-left:50px; padding-top:8px; color:white">Midterm Time Table</h5>
                  
                  <div class="alert alert-success row al" >
                      <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                      <p class="col-7">Mid term tests 1 Time table</p>
                      <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 19/02/2108</p>
                      <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                  </div>
              </div>

              <div class="tab-pane fade" id="pills-ett" role="tabpanel" aria-labelledby="examtimetable-tab">
                  <div class="row">
                      <div class="col-lg-8">
                        <h4 class="text-left page-headng">Exam Time Table</h4><hr>
                      </div>
                  </div>
                <div class="col-lg-12">
                    <h4 class="text-center">Academic Session 2018-2019</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">BE II Year</th>
                                    <th scope="col">BE III Year</th>
                                    <th scope="col">BE IV Year</th>
                                    <th scope="col">PG I Year</th>
                                    <th scope="col">PG II Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">10/2/19</th>
                                    <td>CO34007</td>
                                    <td>CO34002</td>
                                    <td>CO34008</td>
                                    <td>CO34005</td>
                                    <td>CO34007</td>
                                </tr>
                                <tr>
                                    <th scope="row">15/2/19</th>
                                    <td>CO34002</td>
                                    <td>CO34005</td>
                                    <td>CO34007</td>
                                    <td>CO34008</td>
                                    <td>CO34007</td>
                                </tr>
                                <tr>
                                    <th scope="row">20/2/19</th>
                                    <td></td>
                                    <td>EC34007</td>
                                    <td>EC34007</td>
                                    <td>EC34007</td>
                                    <td>EC34007</td>
                                </tr>
                                <tr>
                                    <th scope="row">25/2/19</th>
                                    <td>CO34007</td>
                                    <td></td>
                                    <td>CO34008</td>
                                    <td>CO34005</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">30/1/19</th>
                                    <td>C034007</td>
                                    <td></td>
                                    <td></td>
                                    <td>CO24578</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                

              <div class="tab-pane fade" id="pills-semtt" role="tabpanel" aria-labelledby="semtt-tab">
                  <div class="row">
                      <div class="col-lg-8">
                        <h4 class="text-left page-headng">Semester time table</h4><hr>
                    </div>
                      <div class="col-lg-4">
                          <ul class="searchbox float-right">
                              <li class="">
                                      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                                </li>
                              </ul>
                        </div>
                </div>

              </div>
              <div class="tab-pane fade" id="pills-accel" role="tabpanel" aria-labelledby="accel-tab">
                  <div class="row">
                      <div class="col-lg-8">
                        <h4 class="text-left page-headng">Academic Calender</h4><hr>
                </div>
                  </div>

                <div class="col-lg-12">
                    <h5 class="text-center">Academic Session 2018-2019</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped ">
                            <thead class="thead-dark">
                                <tr>
                                    <th><div style="font-size: large">Academic calender</div></th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <div class="d-flex justify-content-between">
                                        <div style="color:blue; font-size: large">Semester July'18-Dec'18</div>
                                        <div style="color:#1488CC;font-size: large"><a href="#"><i class="fa fa-download fa-fw"></i>Download</a></div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                       <th>
                                            <div class="d-flex justify-content-between">
                                                    <div style="color:blue; font-size: large">Semester Dec'18-May'19</div>
                                                    <div style="color:#1488CC;font-size: large"><a href="#"><i class="fa fa-download fa-fw"></i>Download</a></div>
                                            </div>

                                       </th> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
<hr>
                    <h5 class="text-center">Academic Session 2017-2018</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped ">
                            <thead class="thead-dark">
                                <tr>
                                    <th><div style="font-size: large">Academic calender</div></th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                    <tr>
                                        <th>
                                            <div class="d-flex justify-content-between">
                                            <div style="color:blue; font-size: large">Semester July'17-Dec'17</div>
                                            <div style="color:#1488CC;font-size: large"><a href="#"><i class="fa fa-download fa-fw"></i>Download</a></div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="d-flex justify-content-between">
                                                    <div style="color:blue; font-size: large">Semester Dec'17-May'18</div>
                                                    <div style="color:#1488CC;font-size: large"><a href="#"><i class="fa fa-download fa-fw"></i>Download</a></div>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
    </div>

              </div>
              <div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="other-tab">
                  <div class="row">
                      <div class="col-lg-8">
                        <h4 class="text-left page-headng">Others</h4><hr>
                    </div>
                      <div class="col-lg-4">
                          <ul class="searchbox float-right">
                              <li class="">
                                      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                                </li>
                              </ul>
                        </div>
                </div>
                <div class="alert alert-success row al" >
                    <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                    <p class="col-7">Scheme and Syllabus</p>
                    <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 12/07/2018</p>
                    <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                </div>
                <div class="alert alert-success row al" > 
                    <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                    <p class="col-7">Circular<br>Re: Circular was changed.</p>
                    <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 13/09/2108</p>
                    <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                </div>
                <div class="alert alert-success row al" >
                    <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                    <p class="col-7">Mid term tests 1 Time table</p>
                    <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 19/02/2108</p>
                    <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                </div>
                <div class="alert alert-success row al" >
                    <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                    <p class="col-7">Quiz 1 Time table</p>
                    <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 17/12/2017</p>
                    <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                </div>
                <div class="alert alert-success row al" >
                    <i class="col-1 fa fa-file icon fa-fw" style="float: left;" aria-hidden="true"></i>
                    <p class="col-7">Academic Calender July-Dec</p>
                    <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 16/08/2018</p>
                    <p class="col-2" ><a  href=""><i class="fa fa-eye fa-fw" aria-hidden="true fa-fw"></i> preview</a><br><a href=""><i class="fa fa-download fa-fw" aria-hidden="true fa-fw"></i>Download</a></p>  
                </div>

              </div>
            </div>
        </div>
        </div>
        </div>
        </div>
