<!-- Tooltip -->
<link href="../../../assets/css/tooltip.css" rel="stylesheet" type="text/css" />
<script src="js/tooltip.js" type="text/javascript"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script type="text/javascript" src="../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap-datepicker.js"></script>  

<!--grid script-->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<!--END grid script-->


<div class="container">
  <div class="row">

<!--Start Left Panel-->
    <div class="col-lg-3 profile-info">
      <app-sidenavigation></app-sidenavigation>
    </div>
<!--End Left Panel-->

<div class="col-lg-9 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
    <!--Start Right Panel-->
    <div class="container">
        <div class="row">
          <div class="col">
            
          </div>
        </div>          
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Current Class</th>
              <th>Timetable</th>
              <th>Today</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1001</td>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>BE-II,Architecture</td>
              <td>View</td>
              <td>Present</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>BE-II,Architecture</td>
                <td>View</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>BE-II,Architecture</td>
                <td>View</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>BE-II,Architecture</td>
                <td>View</td>
                <td>Present</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--End Right Panel-->
</div>
</div>
  <!--Notification Panel starts-->
  </div>
</div>