

        <div class="col-lg-12 kyc-colm user-management">
          <div class="kyc-section rewards-section reports-sectn">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="text-decoration:none">Currently Enrolled Student</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="text-decoration:none">Alumni</a>
                  </li>
              </ul>
            <div class="row">
              <div class="col-lg-3 kyc-colm user-management" style="margin-top: 2%;">
                <div class="kyc-section rewards-section reports-sectn">
                  <ul class="list-unstyled">
                    <li>
                      <a href="Student.html" class="nav-link link" style="text-decoration: none">Student roll list</a>
                    </li>
                    <li>
                      <a href="Student_4th_year.html" class="nav-link link" style="text-decoration: none">B.E 4<sup>th</sup> year project detail</a>
                    </li>
                    <li>
                      <a href="Student_M.E_4th_year.html" class="nav-link link" style="text-decoration: none">M.E project details</a>
                    </li>
                    <li>
                      <a href="Student_M.E_Scholarship.html" class="nav-link " style="text-decoration: none;color: #f46404;">M.E scholarship</a>
                    </li>
                  </ul>
                </div>
                <br><br>
                              </div>
              <div class="col-lg-12 kyc-colm user-management" style="margin-top: 2%;">
                <div class="kyc-section rewards-section reports-sectn">
                  <div class="row">
                    <div class="col-lg-4 heading">
                       <h5>M.E Scholarship details</h5> 
                    </div>
                    <div class="col-lg-2" style="padding-left:3%;">
                        <div>
                            <select class="form-control">
                                <option>Sem</option>
                                <option>1<sup>st</sup></option>
                                <option>2<sup>nd</sup></option>
                                <option>3<sup>rd</sup></option>
                                <option>4<sup>th</sup></option>
                            </select> 
                            </div> 
                     </div>
                    <div class="col-lg-2" style="padding-left:3%;">
                        <div>
                            <select class="form-control">
                                <option>Batch</option>
                            </select> 
                            </div> 
                     </div>
                     <div class="col-lg-4" style="float:right;padding-left: 5%;">
                        <ul class="searchbox">
                            <li class="">
                              <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                              <i class="fa fa-search" style="position: absolute;top:11px;" aria-hidden="true"></i>
                            </li>
                          </ul>
                     </div>
                  </div>
                  <br>   
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped" style="overflow:hidden;">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Attendance %</th>
                                <th scope="co1">No. of Leaves</th>
                                <th scope="co1">Amount Granted</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>123456</td>
                                <td>Sanjeev Kumar</td>
                                <td>100</td>
                                <td>0</td>
                                <td>8000</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>122456</td>
                                <td>Akshay Neema</td>gnng
                                <td>96.77</td>
                                <td>1</td>
                                <td>8000</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>12398</td>
                                <td>Vijay Agrawal</td>
                                <td>93</td>
                                <td>2</td>
                                <td>8000</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>12398</td>
                                <td>Juhi Yadav</td>
                                <td>77</td>
                                <td>8</td>
                                <td>8000</td>
                              </tr>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                      <th scope="row"></th>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>  
                            </tbody>
                          </table>
                  </div>
                </div>
                <div style="float:right;">
                    <a href=""><i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i>Edit Details </a>
                    &nbsp&nbsp
                    <a href=""><i class="fa fa-print fa-fw" aria-hidden="true"></i>  Generate Report</a>  
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
   