<style type="text/css">
  .span-text {
    font-size: 16px;
    margin-left: 8px;
  }

  .more {
    text-decoration: none;
    float: right;
    color: #0085cc;
  }

  .more:hover {
    text-decoration: none;
    color: #f46404;
  }

  .contact-icon {
    margin-left: 8px;
  }

  .box {
    padding: 1%;
    margin: 1%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
  }

  .center {
    display: block;
    margin-left: 8%;

  }
  .center-text{
    margin-left:20%;
  }
  .navbar-left {
    margin-left: 9%;

  }

  .navbar-padding>li {
    padding-left: 8px;
    padding-right: 8px;
  }
</style>

<div class ="container">
    

    <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Central Inventory</span>
    </nav>    
    <div class="kyc-section rewards-section reports-sectn">
    <div class="col-lg-12 kyc-colm user-management">
      
        <div class = "row">
        <div class="col-lg-8 kyc-colm user-management pt-4">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Electrical Appliances</span>
        </nav> 
        <div class = "row pt-4">
          <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="https://images-na.ssl-images-amazon.com/images/I/81S7UgHYJVL._SL1500_.jpg" alt="Smiley face" height="100" width="100"><br>
              <a href="" class="center-text" > CPUs</a>
          </div> 
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="http://files.softicons.com/download/business-icons/dragon-soft-icons-by-artua.com/png/512/printer.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Printers</a>
        </div>
         <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="https://www.corsair.com/corsairmedia/sys_master/productcontent/CH-9000070-NA-CG_M65_RGB_K_01.png" alt="Smiley face" height="100" width="100"><br>
              <a href="" class="center-text" > Mouse</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="http://www.pngmart.com/files/6/Monitor-PNG-Photos.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Monitors</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="https://www.lg.com/in/images/split-ac/md05774609/gallery/Large-940x620-800.jpg" alt="Smiley face" height="100" width="100"><br>
            <a href="" class=" center-text" > ACs</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="https://www.viewsonic.com/uk/products/projectors/lightstream/images/pjd5153.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" >Projectors</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="https://choiceworker.com/category/img/other-other.jpg" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" >Others</a>
          </div>
        </div>
      </div>
        </div>
    <div class = "row">
      <div class="col-lg-8 kyc-colm user-management pt-4">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Furniture</span>
        </nav> 
        <div class = "row pt-4">
          <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="https://cdn.shopclues.com/images/thumbnails/21182/320/320/79902200KELLYH13984370441435902462.jpg" alt="Smiley face" height="100" width="100"><br>
              <a href="" class="center-text" >Chairs</a>
          </div> 
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="https://www.afw.com/content/images/thumbs/0096939_oxford-66-executive-desk_400.jpeg" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Desks</a>
        </div>
         <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="https://m2.ikea.com/PIAimages/0517381_PE640656_S5.JPG?f=xs" alt="Smiley face" height="100" width="100"><br>
              <a href="" class="center-text" > Tables</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="https://choiceworker.com/category/img/other-other.jpg" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Others</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 kyc-colm user-management  pt-4">
        <div class = "row">
            <div class="col-lg-12 kyc-colm user-management pt-4">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Electrical Appliances</span>
            </nav> 
            </div>
        </div>
      </div>
</div>
</div>

