<div class="container">
  <div class="row">
      <div class="col-lg-12 kyc-colm user-management">
          <div class="kyc-section rewards-section reports-sectn">
              <nav class="nav nav-pills nav-fill">
                  <a class="nav-item nav-link active" routerLink='class_time_table'><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Class Time Table</a>
                  <a class="nav-item nav-link" routerLink='industrial_visit'><i class="fa fa-industry fa-fw" aria-hidden="true"></i> Industrial Visit</a>
                  <a class="nav-item nav-link" routerLink='quiz_time_table'><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Quiz Time Table</a>
                  <a class="nav-item nav-link" routerLink='expert_lecture'><i class="fa fa-users fa-fw"></i> Expert Lecture</a>
                  <a class="nav-item nav-link" routerLink='midterm_time_table'><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Midterm Time Table</a>
                  <a class="nav-item nav-link" routerLink='mark_attendance'><i class="fa fa-check fa-fw" aria-hidden="true"></i> Mark Attendance</a>

                </nav>
          <router-outlet></router-outlet>
          </div>
      </div>      
   </div> 
</div>  